@mixin interactive-colors($color-main, $color-hover, $color-active) {
  color: $color-main;

  &:hover {
    color: $color-hover;
  }

  &:active {
    color: $color-active;
  }
}

@mixin link-read-more(
  $color-text,
  $color-bg,
  $color-hover,
  $color-active,
  $image
) {
  color: $color-bg;

  &::after {
    background-color: $color-bg;
    mask-image: url($image);
  }

  &:hover {
    color: $color-hover;

    &::after {
      background-color: $color-hover;
      transform: translateX(10px);
    }
  }

  &:active {
    color: $color-active;

    &::after {
      background-color: $color-active;
    }
  }
}
