@use 'sass:color';

// ==== COLOR ====
$color-white: rgb(255 255 255);
$color-dark: rgb(0 0 0);
$color-grey: rgb(137 157 157);

/* the green palette */
$color-green-300: rgb(186 226 73);
$color-green-400: rgb(145 172 70);
$color-green-500: rgb(131 164 64);
$color-green-600: rgb(104 139 5);
$color-green-700: rgb(80 104 41);
$color-green-800: rgb(29 47 48);
$color-dark-cyan: rgb(11 25 25);

/* overlay */
$overlay: color.scale($color-green-800, $alpha: -35%);

/* background */
$element-main-bg: $color-green-800;

/* text */
$text-main-color: $color-white;
$text-on-dark-color: $color-grey;
$text-on-light-color: $color-green-700;

/* title */
$title-main-color: $color-white;
$title-accent-color: $color-green-800;

/* link */
$link-main: $color-white;
$link-main-hover: $color-green-300;
$link-main-active: $color-green-600;
$link-main-focus: $color-green-500;
$link-accent-primary: $color-green-300;
$link-accent-primary-hover: $color-green-400;
$link-accent-primary-active: $color-green-600;
$link-accent-primary-focus: $color-green-500;
$link-accent-secondary: $color-dark-cyan;

/* button */
$button-accent: $color-green-300;
$button-accent-hover: $color-green-400;
$button-accent-active: $color-green-600;
$button-accent-focus: $color-green-500;
$focus: $color-green-500;

/* burger line */
$burger-line-color: $color-green-300;
$burger-line-hover: $color-green-400;
$burger-line-active: $color-green-600;

// ===== TYPOGRAPHY =====

/* font-family */
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Cormorant', serif;

/* font-weights */
$font-weights: (
        'thin': 100,
        'light': 300,
        'regular': 400,
        'medium': 500,
        'semibold': 600,
        'bold': 700,
        'extrabold': 800,
        'black': 900
);