// ==== COLOR ====


// ===== TYPOGRAPHY =====

/* font-family */
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Cormorant', serif;

/* font-weights */
$font-weights: (
        'thin': 100,
        'light': 300,
        'regular': 400,
        'medium': 500,
        'semibold': 600,
        'bold': 700,
        'extrabold': 800,
        'black': 900
);