<section class="artefacts" aria-labeledby="artefacts-title">
  <h2 id="artefacts-title" class="artefacts__title-main visually-hidden">
    Коллекция природных артефактов
  </h2>
  <div class="artefacts__content container">
    <div class="swiper">
      <div class="swiper-wrapper"></div>
    </div>
    <div class="artefacts__swiper-controlls">
      <div
        class="swiper-button-prev swiper-button"
        tabindex="1"
        role="button"
      ></div>
      <div class="swiper-pagination artefacts__swiper-pagination"></div>
      <div
        class="swiper-button-next swiper-button"
        tabindex="1"
        role="button"
      ></div>
    </div>
  </div>
</section>
