<section class="artefacts" aria-labeledby="artefacts-title">
  <h2 id="artefacts-title" class="artefacts__title-main visually-hidden">
    Коллекция природных артефактов
  </h2>
  <div class="artefacts__content container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <!--<div class="swiper-slide">
          <article class="artefacts__card-artefact">
            <div class="artefacts__wrapper-image">
              <img
                src="./images/raster/artefacts-plant.png"
                width="223"
                height="120"
                alt="Plant"
              />
            </div>
            <div class="artefacts__wrapper-info">
              <h3 class="artefacts__title-card">Fig. 1 (plant)</h3>
              <p class="artefacts__text-card">
                Имеется спорная точка зрения, гласящая примерно следующее:
                активно развивающиеся страны третьего мира своевременно
                верифицированы.
              </p>
              <button
                class="artefacts__button-lear-more button-focus"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="artefacts__card-artefact">
            <div class="artefacts__wrapper-image">
              <img
                src="./images/raster/artefacts-flower.png"
                width="197"
                height="120"
                alt="Plant"
              />
            </div>
            <div class="artefacts__wrapper-info">
              <h3 class="artefacts__title-card">Fig. 1 (plant)</h3>
              <p class="artefacts__text-card">
                Имеется спорная точка зрения, гласящая примерно следующее:
                активно развивающиеся страны третьего мира своевременно
                верифицированы.
              </p>
              <button
                class="artefacts__button-lear-more button-focus"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="artefacts__card-artefact">
            <div class="artefacts__wrapper-image">
              <img
                src="./images/raster/artefacts-plant.png"
                width="223"
                height="120"
                alt="Plant"
              />
            </div>
            <div class="artefacts__wrapper-info">
              <h3 class="artefacts__title-card">Fig. 1 (plant)</h3>
              <p class="artefacts__text-card">
                Имеется спорная точка зрения, гласящая примерно следующее:
                активно развивающиеся страны третьего мира своевременно
                верифицированы.
              </p>
              <button
                class="artefacts__button-lear-more button-focus"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="artefacts__card-artefact">
            <div class="artefacts__wrapper-image">
              <img
                src="./images/raster/artefacts-plant.png"
                width="223"
                height="120"
                alt="Plant"
              />
            </div>
            <div class="artefacts__wrapper-info">
              <h3 class="artefacts__title-card">Fig. 1 (plant)</h3>
              <p class="artefacts__text-card">
                Имеется спорная точка зрения, гласящая примерно следующее:
                активно развивающиеся страны третьего мира своевременно
                верифицированы.
              </p>
              <button
                class="artefacts__button-lear-more button-focus"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="artefacts__card-artefact">
            <div class="artefacts__wrapper-image">
              <img
                src="./images/raster/artefacts-plant.png"
                width="223"
                height="120"
                alt="Plant"
              />
            </div>
            <div class="artefacts__wrapper-info">
              <h3 class="artefacts__title-card">Fig. 1 (plant)</h3>
              <p class="artefacts__text-card">
                Имеется спорная точка зрения, гласящая примерно следующее:
                активно развивающиеся страны третьего мира своевременно
                верифицированы.
              </p>
              <button
                class="artefacts__button-lear-more button-focus"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="artefacts__card-artefact">
            <div class="artefacts__wrapper-image">
              <img
                src="./images/raster/artefacts-plant.png"
                width="223"
                height="120"
                alt="Plant"
              />
            </div>
            <div class="artefacts__wrapper-info">
              <h3 class="artefacts__title-card">Fig. 1 (plant)</h3>
              <p class="artefacts__text-card">
                Имеется спорная точка зрения, гласящая примерно следующее:
                активно развивающиеся страны третьего мира своевременно
                верифицированы.
              </p>
              <button
                class="artefacts__button-lear-more button-focus"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="artefacts__card-artefact">
            <div class="artefacts__wrapper-image">
              <img
                src="./images/raster/artefacts-plant.png"
                width="223"
                height="120"
                alt="Plant"
              />
            </div>
            <div class="artefacts__wrapper-info">
              <h3 class="artefacts__title-card">Fig. 1 (plant)</h3>
              <p class="artefacts__text-card">
                Имеется спорная точка зрения, гласящая примерно следующее:
                активно развивающиеся страны третьего мира своевременно
                верифицированы.
              </p>
              <button
                class="artefacts__button-lear-more button-focus"
                type="button"
              >
                Подробнее
              </button>
            </div>
          </article>
        </div>-->
      </div>
    </div>
    <div class="artefacts__swiper-controlls">
      <div
        class="swiper-button-prev swiper-button"
        tabindex="1"
        role="button"
      ></div>
      <div class="swiper-pagination artefacts__swiper-pagination"></div>
      <div
        class="swiper-button-next swiper-button"
        tabindex="1"
        role="button"
      ></div>
    </div>
  </div>
</section>
