@use '../../styles/variables' as variables;
@use '../../styles/abstracts/mixins' as mixins;

.header-main {
  position: relative;
  background-color: variables.$element-main-bg;
  padding: 18px 0;

  &-content {
    display: flex;
  }

  &__link {
    &-logo {
      display: block;
      margin-right: 125px;

      img {
        display: block;
      }

      @media (width <= 1024px) {
        margin-right: 50px;
      }
    }

    &-nav {
      text-decoration: none;
      display: block;
      color: variables.$link-main;
      font-family: variables.$font-family-primary;
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: left;
      transition: color 0.5s ease;

      &:hover {
        color: variables.$link-main-hover;
      }

      &:active {
        color: variables.$link-main-active;
      }
    }

    &-log-in {
      @include mixins.interactive-colors(
              $color-main: variables.$link-accent-primary,
              $color-hover: variables.$link-accent-primary-hover,
              $color-active: variables.$link-accent-primary-active
      )
    }
  }

  &__nav {
    transition: transform 1s ease;

    @media (width <= 768px) {
      position: absolute;
      width: 100%;
      bottom: -40px;
      left: 0;
      background: brown;
    }

    @media (width <= 450px) {
      position: fixed;
      opacity: 0;
      top: 76px;
      left: 0;
      height: min-content;
      background: variables.$element-main-bg;
      transform: translateX(-100%);
      padding: 18px;

      &--open {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  &__list {
    &-nav {
      display: flex;
      gap: 64px;
      align-items: center;

      @media (width <= 1024px) {
        gap: 32px;
      }

      @media (width <= 768px) {
        justify-content: center;
      }

      @media (width <= 450px) {
        flex-direction: column;
      }
    }
  }

  &__button {
    &-search {
      @include mixins.interactive-colors(
              $color-main: variables.$button-accent,
              $color-hover: variables.$button-accent-hover,
              $color-active: variables.$button-accent-active)
    }

    &-burger {
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      padding: 0;
      display: none;
      cursor: pointer;

      &:hover {
        span {
          background-color: variables.$burger-line-hover;
        }
      }

      &:active {
        span {
          background-color: variables.$burger-line-active;
        }
      }

      @media (width <= 450px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: variables.$burger-line-color;
    transition: background-color 0.5s ease;
    cursor: pointer;
  }

  &__button-search, &__link-log-in {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: color 0.5s ease;

    svg {
      display: block;
    }
  }

  &__actions {
    display: flex;
    gap: 64px;
    margin-left: auto;

    @media (width <= 450px) {
      gap: 32px
    }
  }
}