<header class="header-main" role="banner">
    <div class="header-main-content container">
        <a href="/" class="header-main__link-logo focus">
            <img src="./images/vector/logo.svg" width="65" height="20" alt="Логотип компании">
        </a>
        <nav class="header-main__nav" aria-label="Основная навигация по сайту">
            <ul class="header-main__list-nav">
                <li class="header-main__item-nav-link">
                    <a class="header-main__link-nav focus" href="#">Каталог</a>
                </li>
                <li class="header-main__item-nav-link">
                    <a class="header-main__link-nav focus" href="#">Галерея</a>
                </li>
                <li class="header-main__item-nav-link">
                    <a class="header-main__link-nav focus" href="#">О лаборатории</a>
                </li>
                <li class="header-main__item-nav-link">
                    <a class="header-main__link-nav focus" href="#">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header-main__actions">
            <button class="header-main__button-burger focus" type="button" aria-label="Открыть меню навигации">
               <span class="header-main__line header-main__line-top"></span>
               <span class="header-main__line header-main__line-middle"></span>
               <span class="header-main__line header-main__line-bottom"></span>
            </button>
            <button class="header-main__button-search focus" type="button" aria-label="Поиск артефактов">
                <svg width="24" height="24" aria-hidden="true">
                    <use href="./images/vector/header-search.svg#header-search"/>
                </svg>
            </button>
            <a class="header-main__link-log-in focus" href="#" aria-label="Вход в личный кабинет">
                <svg width="24" height="24" aria-hidden="true">
                    <use href="./images/vector/header-log-in.svg#header-log-in"/>
                </svg>
            </a>
        </div>
    </div>
</header>