<footer class="footer-main" role="contentinfo">
  <div class="footer-main__social">
    <ul class="footer-main__list-social">
      <li class="footer-main__item-social-link">
        <a class="footer-main__link-social" aria-label="Youtube" href="#">
<svg width="24" height="24">
  <use href="/images/vector/footer-youtube.svg#icon-youtube"/>
</svg>
        </a>
      </li>

      <li class="footer-main__iteam-social-link">
        <a class="footer-main__link-social" aria-label="Instagram" href="#">
          <svg width="24" height="24">
            <use href="/images/vector/footer-instagram.svg#icon-instagram"/>
          </svg>
        </a>
      </li>

      <li class="footer-main__iteam-social-link">
        <a class="footer-main__link-social" aria-label="Facebook" href="#">
          <svg width="24" height="24">
            <use href="/images/vector/footer-facebook.svg#icon-facebook"/>
          </svg>
        </a>
      </li>

      <li class="footer-main__iteam-social-link">
        <a class="footer-main__link-social" aria-label="Twitter" href="#">
          <svg width="24" height="24">
            <use href="/images/vector/footer-twitter.svg#icon-twitter"/>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer-main__wrapper-copyright">
     <small class="footer-main__copyright">f&b ® 2020</small>
    </div>
  </div>
</footer>
