<footer class="footer-main">
  <div class="footer_main-social">
    <ul class="footer-main__list-social">
      <li class="footer-main__item-socil-link">
        <a class="footer-main__link-socil" aria-label="Youtube" href="#">
<svg width="24" height="24">
  <use href="/images/vector/footer-youtube.svg#icon-youtube"/>
</svg>
        </a>
      </li>

      <li class="footer-main__item-socil-link">
        <a class="footer-main__link-socil" aria-label="Instagram" href="#">
          <svg width="24" height="24">
            <use href="/images/vector/footer-instagram.svg#icon-instagram"/>
          </svg>
        </a>
      </li>

      <li class="footer-main__item-socil-link">
        <a class="footer-main__link-socil" aria-label="Facebook" href="#">
          <svg width="24" height="24">
            <use href="/images/vector/footer-facebook.svg#icon-facebook"/>
          </svg>
        </a>
      </li>

      <li class="footer-main__item-socil-link">
        <a class="footer-main__link-socil" aria-label="Twitter" href="#">
          <svg width="24" height="24">
            <use href="/images/vector/footer-twitter.svg#icon-twitter"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
