@use './styles/variables' as variables;
@use './styles/fonts';
@use './components/header/header';
@use './components/hero/hero';
@use './components/artefacts/artefacts';
@use 'sass:map';

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: variables.$font-family-primary;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (width <= 1024px) {
    padding: 0 32px;
  }
}

.focus {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid variables.$focus;
    outline-offset: 3px;
    border-radius: 2px;
  }
}

.button-focus {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid variables.$button-main-focus;
    outline-offset: 3px;
    border-radius: 2px;
  }
}

.link {
  &__read-more {
    display: flex;
    width: min-content;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-family: variables.$font-family-primary;
    font-size: 16px;
    font-weight: map.get(variables.$font-weights, 'bold');
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    transition: color 0.5s ease;

    &::after {
      content: '';
      display: block;
      width: 44px;
      height: 13px;
      mask-repeat: no-repeat;
      mask-position: center;
      transition: transform 0.5s ease, background-color 0.5s ease;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}