<section class="new-artefacts container">
  <h2 class="new-artefacts__title-main title-section">Новые артефакты</h2>
  <div class="new-artefacts__content">
    <div class="new-artefacts__wrapper-image">
      <img src="/images/raster/new-artefacts-bg.jpg" width="1650" height="986" alt=""/>
    </div>
    <div class="new-artefacts__wrapper-info">
      <h3 class="new-artefacts__title-info">Kurische Nehrung 24</h3>
      <p class="new-artefacts__text-info text-info">
        Вот вам яркий пример современных тенденций - начало повседневной работы
        по формированию позиции выявляет срочную потребность методов управления
        процессами.
      </p>
      <p class="new-artefacts__text-info text-info">
        Есть над чем задуматься: представители современных социальных резервов
        своевременно верифицированы.
      </p>
      <a class="link__read-more new-artefacts__link-info focus" href="#">Читать далее</a>
    </div>
  </div>
</section>
