@use '../../styles/variables' as variables;
@use 'sass:map';

.new-artefacts {
  padding-bottom: 60px;

  &__title {
    &-main {
      color: variables.$title-main-color;
      font-family: variables.$font-family-secondary;
      font-style: italic;
      font-size: 48px;
      font-weight: map.get(variables.$font-weights, 'bold');
      line-height: 100%;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    &-image {
      max-width: 825px;
      width: 100%;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
