@use '../../styles/variables' as variables;
@use '../../styles/abstracts/mixins' as mixins;
@use 'sass:map';

.new-artefacts {
  padding-bottom: 60px;

  &__content {
    display: flex;
    gap: 30px;

    @media (width <= 767px) {
      flex-direction: column;
    }
  }

  &__title {
    &-main {
      color: variables.$title-main-color;
      font-family: variables.$font-family-secondary;
      font-style: italic;
      font-size: 48px;
      font-weight: map.get(variables.$font-weights, 'bold');
      line-height: 100%;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 30px;
    }

    &-info {
      color: variables.$title-accent-color;
      font-family: variables.$font-family-secondary;
      font-style: normal;
      font-weight: map.get(variables.$font-weights, 'bold');
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 8px;
    }
  }

  &__text {
    &-info {
      color: variables.$text-on-light-color;
      font-family: variables.$font-family-primary;
      font-style: normal;
      font-size: 16px;
      font-weight: map.get(variables.$font-weights, 'regular');
      line-height: 150%;
      letter-spacing: 0%;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__wrapper {
    &-image {
      max-width: 825px;
      width: 100%;
      background-color: variables.$accent-bg-dark;
      display: flex;
      align-items: center;
      padding: 16px;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: thin;

      img {
        display: block;
        width: 100%;
        height: auto;

        @media (width <= 767px) {
          min-width: 793px;
        }
      }
    }

    &-info {
      max-width: 255px;
      width: 100%;
      background-color: variables.$accent-bg;
      padding: 16px;

      @media (width <= 767px) {
        max-width: 100%;
      }
    }
  }

  &__link {
    &-info {
      @include mixins.link-read-more(
        $color-text: variables.$link-accent-secondary,
        $color-bg: variables.$link-accent-secondary,
        $color-hover: variables.$link-accent-primary-hover,
        $color-active: variables.$link-accent-primary-active,
        $image: './images/vector/link-arrow.svg'
      );

      &.link__read-more {
        width: 100%;
      }
    }
  }
}
